$panel-title-font-size: 1.5rem;
$panel-padding: 1rem;
$panel-border-width: 0.25rem;


.panel {
  &--outline {
    border: {
      width: $panel-border-width;
      radius: $panel-border-width;
      style: solid;
    };

    &-main {
      border-color: $app-main;
    }
    &-blue {
       border-color: $app-gray;
    }
    &-yellow {
       border-color: $app-yellow;
    }
    &-blue {
      border-color: $app-blue;
    }
    &-main-dark {
      border-color: $app-main-dark;
    }
    &-gray {
      border-color: $app-gray;
    }
    &-gray-light {
      border-color: $app-gray-light;
    }
  }
}
.panel-title {
  display: flex;
  font-size: $panel-title-font-size;
  padding:  $panel-padding;
}
.panel-body {
  padding: $panel-padding;
}
