@import '../../styles/variables';

$tile-border-width: 0.25rem;
$tile-margin-size: 1rem;
$tile-padding: 0.75rem;
$tile-header-font-size: 1.6rem;
$badge-padding: 0.25rem 0.5rem;

.tile {
  padding: $tile-padding $tile-padding;

  &--border {
    border: {
      width: $tile-border-width;
      style: solid;
      color: $app-main;
      radius: $tile-border-width;
    }
  }
  &:hover {
    background: $app-main;
    color: white;
  }
  margin: $tile-margin-size 0;
}

.tile__footer {
  display: flex;
}
.tile__header {
  font-size: $tile-header-font-size;
}
.badge {
  padding: $badge-padding;
  color: white;
  border-radius: $badge-padding;
  font-size: $tile-header-font-size / 2;
}
